$countdown-bg: #ff3b3b;
$countdown-text: #ffffff;
$countdown-box-bg: #f0f0f0;
$countdown-box-text: #333;

.countdowncontainer {
  position: absolute;
  display: flex;
  gap: 10px;
  //   background: $countdown-bg;
  padding: 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  direction: ltr;  

  .countdownbox {
    position: relative;
    background: $countdown-box-bg;
    color: $countdown-box-text;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 125px;
    right: 24px;
  }

  .countdownvalue {
    font-size: 22px;
    font-weight: bold;
  }

  .countdownlabel {
    font-size: 14px;
    font-weight: normal;
  }
}
