li {
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  .menuIcon {
    font-size: 25px;
    cursor: pointer;
    &:hover {
      color: rgb(0, 255, 0);
    }
  }
  a {
    color: black;
  }
  &:hover > .subMenu {
    z-index: 100000;
    opacity: 1;
    visibility: visible;
    transition: all 300ms linear;

    a {
      position: relative;
      margin-right: 25px;
      font-size: 16px;
      line-height: 30px;
      &:hover {
        color: rgb(0, 255, 0);

        &:hover {
          + .subdropDown {
            z-index: 1000;
            display: block;
            transition: all 200ms linear;
          }
        }
      }
    }
  }
}
.subMenu {
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  border-radius: 0 0 10px 10px;
  z-index: 1;
  position: absolute;
  top: 37px;
  width: 98%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.158);
  background-color: whitesmoke;
  .subdropDown {
    display: none;
    width: inherit;
    height: 100%;
    z-index: 1;
    position: absolute;
    right: 200px;
    bottom: 1px;
    border-right: 0.5px solid rgb(217, 217, 217);
  }
}
