nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
  background-color: whitesmoke;
  z-index: 1100;
  .navbarTop {
    display: flex;
    align-items: center;
    gap: 15px;
    #logo {
      margin-top: 25px;
    }
    .navbarTopcenter {
      margin-top: 20px;
      margin-right: 55px;
      position: relative;
      #btn {
        height: 36px;
        width: 701px;
        background-color: #e6e6e6;
        border: none;
        cursor: text;
        padding: 10px 35px;
        font-size: 20px;
        border-radius: 5px;
        &:active {
          border: none;
        }
        &:focus {
          outline: none;
        }
      }
      .icon {
        position: absolute;
        top: 8px;
        left: 96%;
        font-size: 20px;
      }
    }
    .navbarToprLedft {
      width: 100%;
      display: flex;
      gap: 20px;
      justify-content: center;
      .adminPanelIcon {
        cursor: pointer;
        margin-top: 15px;
        margin-right: 75%;
        font-size: 45px;
        color: #5d6059;
      }
      .CartIcon {
        cursor: pointer;
        margin-top: 15px;
        font-size: 45px;
        color: #5d6059;
      }
    }
  }
  .navbarBotom {
    z-index: 10000;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
  }
}
