@font-face {
    font-family: 'IRANSans';
    src: url(../public/Fonts/IRANSansXFaNum-Light.ttf);
}

* {
    font-family: IRANSans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    list-style: none;
    text-decoration: none;
}
